.containerhomepage{
    height: 300vh;
}

.topHomepage{
    height: 80vh;
    display: flex;
}

.div1topHomepage{
    height: 100%;
    width: 50%;
    background-color: #20603C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: white;
}
.div2topHomepage{
    height: 100%;
    width: 50%;
    margin: 0;
}

.container1div1topHomepage{
    padding: 1rem;
    font-size: xx-large;
    font-weight: bolder;
}

.container2div1topHomepage{
    padding: 1rem;
}

.container3div1topHomepage{
    height: 20%;
    width: 100%;
    padding: 1rem;
}

.container3Button{
    background-color: #20603C;
    border: 2px solid white;
    font-size: large;
    font-weight: 800;
    width: 20%;
    height: 100%;
    color: white;
    cursor: pointer;
}

.container3Button:hover{
    border: 2px solid black;
    color: black;
    cursor: pointer;
}


.section2{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section2Container1{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.div1section2Container1{
    height: 100%;
    width: 25%;
    margin-left: 0.8rem;
}

.contentdiv1{
    margin-top: 1rem;
    font-size: medium;
    font-weight: 600;
}

.section3{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.divsection3{
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContainerSection3{
    height: 100%;
    width: 50%;
}

.rightContainerSection3{
    height: 100%;
    width: 40%;
    margin-left: 2rem;
    padding: 1.5rem;
}

.section4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    background-image: url('https://cdn.pixabay.com/photo/2016/10/27/22/52/apples-1776744_1280.jpg');
}

.divsection4{
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.buttonSection4{
    background-color: #20603C;
    border: 2px solid white;
    font-size: large;
    font-weight: 800;
    width: 20%;
    height: 10%;
    color: white;
    cursor: pointer;
}


.buttonSection4 :hover{
    border: 2px solid black;
    color: black;
    cursor: pointer;
}


.divimagesSection4{
    height: "90%";
    width: "80%";
    margin: 5rem;
}

.section5{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 1rem; */
    background-color: black;
    background-image: url('https://cdn.pixabay.com/photo/2015/12/30/11/57/fruits-1114060__480.jpg');
    background-size: cover;
}

.formlogin{
    height: 70%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: lightgray;
    border-radius: 25px;
}

.buttonSection5{
    margin-top: 1rem;
    cursor: pointer;
}



