*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

.mainDiv{
    height: 200vh;
    width: 98.70vw;
}

.div2{
    height: 20%;
    width: 100%;
}

.div3{
    height: 40%;
    width: 100%;
}

