
.containerpayment{
    height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2015/07/19/13/33/credit-card-851506_1280.jpg');
}

.section1payment{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}


.form1{
    height: 90%;
    width: 49%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 25px;
    background-color: darkgray;
}

.onesectiondiv{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formdiv1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.formdiv1anddiv2{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.everyInput{
    height:50%;
    padding:1rem;
    border:1px solid black;
}

.btnpaymentpage{
    cursor: pointer;
    height:10%;
    width:50%;
    background: orange;
}

.btnpaymentpage :hover{
    background-color: red;
}
