*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.containerpayment{
    height: 100vh;
}

.section1payment{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}


.form1{
    height: 95%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkgray;
}

.onesectiondiv{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




