.containerHomepage{
    height: 300vh;
}

.section1Homepage{
    height: 100vh;
}

.addDiv{
    width: 100%;
    cursor: pointer;
}

.changeTableDataDiv{
    height: 50%;
    width: 100%;
    background-color: lightgray;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

